<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
  </ion-header>
  <ion-card class="verde">
    <ion-card-header>
      <ion-card-title class="amarillo ">Enlace no encontrado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="blanco ">Lo sentimos, la p&aacute;gina que buscas no existe.</p>
    </ion-card-content>
  </ion-card>

    <ion-img src="../../assets/undraw_taken_re_yn20.svg" ></ion-img>

  <ion-button routerLink="/login" expand="block"  fill="clear" class="ion-margin-top verde letra amarillo  ">Volver a la p&aacute;gina principal</ion-button>


</ion-content>
