:host {
    ion-content {
      --background: #222; 
    }
    .verde {
      background-color: #2E7D32;
    }
  }

.letra {
    font-size: 15px;
}

.blanco {
    color: white;
}

.amarillo {
    color: #FFFF00;
}