.fondo {
    background-color: #1E1E1E; 
    padding: 20px; 
    height: 100%; 
    overflow: auto; 
}
.fondo-card {
    background-color: #2E7D32; 
    overflow: auto; 
    border-radius: 10px;
}

.text-left {
    text-align: left;
}

.letra-label {
    color: white;
    font-weight: 500;
    font-size: large;
}

.letra-texto {
    color: white;
    font-weight: 300;
    font-size: small;
}

.boton-centrado {
    margin: 0 auto;
}
  

  